<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Travel webpage</title>
    <style>
    body {
        background-color: rgb(237, 230, 237);
    }
    h1 {
        color: rgb(173, 168, 173);
    }
    h2 {
        color: rgb(44, 72, 128);
    }
    .place1 {
        color: rgb(207, 106, 207);
    }
    #adj {
        color: green;
    }
    ul{
        color:rgb(191, 17, 191);
    }
    #reason {
        color: rgb(153, 55, 153);
    }
    h3{
        color: rgb(199, 54, 199);
    }
    p {
        color: grey;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    </head>
    <body>


<!-- <html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<body> -->
